header {
    height:280px;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}
.item {
    text-align: center;
    padding-bottom: 2em;
}

.page-header {
    padding-top:65px;
}

